@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}
.active{
    background-color: #15803D;
    color: white;
    box-shadow: 0px 0px 1px lightgray;
}